# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RefactorThis.iml
# Datasource local storage ignored files
/../../../../../../../:\Projects\RefactorThis\RefactorThis\.idea\.idea.RefactorThis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
