bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs
/RefactorThis.Core/.vs
/RefactorThis.Core/RefactorThis.Core.csproj.user
/RefactorThis.Domain/.vs
/RefactorThis.Domain/RefactorThis.Domain.csproj.user
/RefactorThis.Domain.Tests/.vs
